$main-blue: #00008b;
$light-blue: lighten($main-blue, 15);

$main-gray: lightgray;
$dark-gray: darkgray;
$light-gray: lighten($main-gray, 10);

$main-red: red;
$light-red: lighten($main-red, 45);

$white: white;
