@import "src/palette";

* {
  padding: 0 0;
  margin: 0 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 1rem;
}

#app-main > *:not(router-outlet) {
  display: block;
  height: 100%;
}

.button {

  &-primary {
    background-color: $main-blue;
    color: $main-gray;
    &:hover {
      background-color: $light-blue;
      transition: 250ms;
    }
  }

  &-secondary {
    background-color: $dark-gray;
    color: $main-blue;
    &:hover {
      background-color: $light-gray;
      transition: 250ms;
    }
  }

  &-primary, &-secondary {
    border: none;
    border-radius: 0.25rem;
    min-width: 6rem;
    padding: 0.25rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 250ms;
    &:disabled {
      color: $main-gray;
      background-color: $dark-gray;
      cursor: not-allowed;
      transition: 250ms;
    }
  }
}

.table-main {
  display: flex;
  flex-direction: column;
  border: 2px solid $dark-gray;
  overflow: hidden;
  border-radius: 0.5rem;
  min-height: 0;
  width: 100%;

  tr {
    width: 100%;
    display: flex;
    padding: 0 0.25rem;

    th, td {
      flex: 1 0 0;
    }
  }

  thead {
    background-color: $dark-gray;
  }

  tbody {
    flex-grow: 1;
    min-height: 0;
    overflow-y: auto;

    tr {
      transition: 250ms;

      &:nth-child(odd) {
        background-color: $light-gray;
      }

      &:hover {
        background-color: $dark-gray;
        transition: 250ms;
      }

      td, th {
        padding: 0.2rem 0;
        &:not(:last-child) {
          padding-right: 0.5rem;
        }
      }

      td.number {
        text-align: right;
      }

      #empty-placeholder {
        text-align: center;
        padding: 0.5rem;
      }
    }
  }
}

.content-controls {
  margin-bottom: 1rem;
}

.form {

  .validation-msg {
    color: $main-red;
  }

  &-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;

    select {
      background-color: white;
      font-size: 0.8rem;
      max-width: 10rem;
      padding: 0.1rem 0.25rem;
      color: $main-blue;
      border: 1px solid transparent;
      border-radius: 0.25rem;

      option {
        color: $main-blue;
      }
    }

    input, select {
      transition: 250ms;
      &.input-invalid {
        color: $main-red;
        border-color: $main-red;
        background-color: $light-red;
        transition: 250ms;
      }
    }
  }

  &-controls {
    button:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}
