@import "src/palette";

* {
  padding: 0 0;
  margin: 0 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 1rem;
}

#app-main > *:not(router-outlet) {
  display: block;
  height: 100%;
}

.button {

  &-primary, &-secondary {
    border: solid 1px $main-blue;
    border-radius: 0.25rem;
    min-width: 6rem;
    padding: 0.25rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 250ms;
  }

  &-primary {
    background-color: $main-blue;
    color: $main-gray;
    &:disabled {
      color: $main-gray;
      background-color: $dark-gray;
      border-color: $dark-gray;
      cursor: not-allowed;
      transition: 250ms;
    }
  }

  &-secondary {
    background-color: transparent;
    color: $main-blue;
  }

}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 0;
  border: 2px solid $dark-gray;
  border-radius: 0.5rem;
  overflow: hidden;

  .thead, .tbody {
    padding: 0 0.25rem;
  }

  .thead {
    background-color: $dark-gray;
  }

  .tbody {
    min-height: 0;
    overflow-y: auto;
  }

  .tr {
    display: flex;
    padding: 0.2rem 0;
    transition: 250ms;

    &:not(:last-child) {
      border-bottom: 2px solid $dark-gray;
    }
  }

  .tbody .tr:hover {
    background-color: $light-gray;
    transition: 250ms;
  }

  .td, .th {
    flex: 1 1 0;
  }

  .number {
    text-align: right;
  }

  .placeholder {
    text-align: center;
    padding: 0.5rem 0.2rem;
  }

}

.content-controls {
  margin-bottom: 1rem;
}

.form {

  .validation-msg {
    color: $main-red;
    font-size: 0.8rem;
  }

  &-title {
    color: $main-blue;
    margin-bottom: 1rem;
  }

  &-section {
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    label {
      color: $main-blue;
    }

    select, input {
      width: 100%;
      padding: 0.1rem 0.5rem;
      color: $main-blue;
      font-size: 1rem;
      border: 1px solid $main-blue;
      border-radius: 0.5rem;
      transition: 250ms;

      &.input-invalid {
        color: $main-red;
        border-color: $main-red;
        background-color: $light-red;
        transition: 250ms;
      }

      option {
        color: $main-blue;
      }
    }
  }

  &-controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    button:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}
