<div *ngIf="month">
    <h1>{{month.year + '-' + month.month | date: 'MM.yyyy'}}</h1>
    <div>
        <button class="button-primary" (click)="create()">Create new</button>
    </div>
    <div class="tab-links">
        <a class="tab-link"
           [routerLink]=""
           [queryParams]="{tab: TRANSACTIONS_TAB}"
           [class.active]="currentTab === TRANSACTIONS_TAB">
            Transactions
        </a>
        <a class="tab-link"
           [routerLink]=""
           [queryParams]="{tab: PREDICTIONS_TAB}"
           [class.active]="currentTab === PREDICTIONS_TAB">
            Predictions
        </a>
    </div>
    <div id="tab" [ngSwitch]="currentTab">
        <app-transactions-tab *ngSwitchCase="TRANSACTIONS_TAB"
                              (deleteTransaction)="deleteTransaction($event)"
                              [month]="month">
        </app-transactions-tab>
        <app-predictions-tab *ngSwitchCase="PREDICTIONS_TAB"
                             [month]="month">
        </app-predictions-tab>
    </div>
</div>
