<div *ngIf="month">
    <h1>{{month.year + '-' + month.month | date: 'MM.yyyy'}}</h1>
    <div class="tab-links">
        <a class="tab-link"
           [routerLink]=""
           [queryParams]="{tab: 'transactions'}"
           [class.active]="(currentTab$ | async) === 'transactions'">
            Transactions
        </a>
        <a class="tab-link"
           [routerLink]=""
           [queryParams]="{tab: 'predictions'}"
           [class.active]="(currentTab$ | async) === 'predictions'">
            Predictions
        </a>
    </div>
    <div id="tab" [ngSwitch]="currentTab$ | async">
        <app-transactions-tab *ngSwitchCase="'transactions'"
                              (createTransaction)="createTransaction($event)"
                              (deleteTransaction)="deleteTransaction($event)"
                              [month]="month">
        </app-transactions-tab>
        <app-predictions-tab *ngSwitchCase="'predictions'"
                             (createPrediction)="createPrediction($event)"
                             [month]="month">
        </app-predictions-tab>
    </div>
</div>
