<div *ngIf="month">
    <h1>{{month.yearMonth | date: 'MM.yyyy'}}</h1>
    <div>
        <a [routerLink]="'/expenses'">Back to months</a>
    </div>
    <div class="tab-links">
        <a class="tab-link" [routerLink]="" [queryParams]="{tab: 'transactions'}" [class.active]="transactionsTab$ | async">Transactions</a>
        <a class="tab-link" [routerLink]="" [queryParams]="{tab: 'predictions'}" [class.active]="predictionsTab$ | async">Predictions</a>
    </div>
    <div class="tab-content"
         *ngIf="transactionsTab$ | async">
        <app-transactions-tab (createTransaction)="createTransaction($event)" [month]="month"></app-transactions-tab>
    </div>
    <div class="tab-content"
         *ngIf="predictionsTab$ | async">
        <app-predictions-tab [month]="month"></app-predictions-tab>
    </div>
</div>
