.tab-links {
  display: flex;

  .tab-link {
    flex: 1 1 0;
    padding: 0.25rem 0.5rem;
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    outline: none;

    &.active {
      background-color: lightskyblue;
    }
  }
}

.tab-content {
  background-color: lightskyblue;
}
