@import "src/palette";

#app-content {
  display: flex;
  flex-direction: column;
  max-width: 720px;
  height: 100vh;
  margin: 0 auto;

  #app-header, #app-main {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0.5rem 0;

    &:last-child {
      margin-bottom: 0.5rem;
    }
  }

  #app-header {
    color: $main-gray;
    background-color: $main-blue;
    display: flex;
    align-items: center;
  }

  #app-main {
    flex-grow: 1;
    min-height: 0;
    color: $main-blue;
    background-color: $main-gray;
  }

}

