<h2 class="dialog-title">Delete transaction</h2>
<div class="dialog-content">
    <p>Are you sure you want to delete the following transaction?</p>
    <ul>
        <li>Day: {{transaction.day}}</li>
        <li>Category: {{transaction.subcategory.category.name}}</li>
        <li>Subcategory: {{transaction.subcategory.name}}</li>
        <li>Description: {{transaction.description}}</li>
        <li>Value: {{transaction.value | currencyPln}}</li>
    </ul>
</div>
<div class="dialog-controls">
    <button class="button-secondary" (click)="cancel()">Cancel</button>
    <button class="button-primary" (click)="delete()">Delete</button>
</div>
