<h2 class="form-title">Delete transaction</h2>
<div class="form-section">
    <p>Are you sure you want to delete the following transaction?</p>
    <ul>
        <li>Day: {{transaction.day}}</li>
        <li>Category: {{transaction.subcategory.category.name}}</li>
        <li>Subcategory: {{transaction.subcategory.name}}</li>
        <li>Description: {{transaction.description}}</li>
        <li>Value: {{transaction.value | currencyPln}}</li>
    </ul>
</div>
<div class="form-controls">
    <button (click)="cancel()">cancel</button>
    <button (click)="delete()">delete</button>
</div>
