<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <label for="month-input">Month</label>
        <select id="month-input" [formControlName]="'month'" [class.input-invalid]="(monthControl.touched || monthControl.dirty) && (monthControl.invalid || form.errors?.nonUnique)">
            <option *ngFor="let month of availableMonths" [ngValue]="month">{{month}}</option>
        </select>
    </div>
    <div>
        <label for="year-input">Year</label>
        <select id="year-input" [formControlName]="'year'" [class.input-invalid]="(yearControl.touched || yearControl.dirty) && (yearControl.invalid || form.errors?.nonUnique)">
            <option *ngFor="let year of availableYears" [ngValue]="year">{{year}}</option>
        </select>
    </div>
    <div>
        <p class="validation-msg" *ngIf="form.errors?.nonUnique">Month {{form.errors.nonUnique.year + '-' + form.errors.nonUnique.month | date: 'MM.yyyy'}} already exists.</p>
        <button type="button" (click)="onCancel()">Cancel</button>
        <button [disabled]="form.invalid">Create</button>
    </div>
</form>