<div>
    <div *ngIf="createFormVisible; then showForm else hideForm"></div>
    <ng-template #showForm>
        <app-transaction-create [monthLength]="month.length" (submit)="addTransaction($event)" (cancel)="createFormVisible = false"></app-transaction-create>
    </ng-template>
    <ng-template #hideForm>
        <button (click)="createFormVisible = true">Create new transaction</button>
    </ng-template>
    <table class="table-main"
           *ngIf="month.transactions?.length > 0">
        <thead>
            <tr>
                <th>Date</th>
                <th>Category</th>
                <th>Subcategory</th>
                <th>Description</th>
                <th>Value</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of month.transactions | transactionsSort">
                <td>{{month.year + '-' + month.month + '-' + transaction.day | date: 'dd.MM.yyyy'}}</td>
                <td>{{transaction.subcategory.category.name}}</td>
                <td>{{transaction.subcategory.name}}</td>
                <td>{{transaction.description}}</td>
                <td>{{transaction.value | currencyPln}}</td>
                <td (click)="delete(transaction)"><i class="material-icons">delete</i></td>
            </tr>
        </tbody>
    </table>
</div>