<div *ngIf="accountingPeriod">
    <h1>{{accountingPeriod.yearMonth | date: 'MM.yyyy'}}</h1>
    <a routerLink="/expenses">Back to accounting periods</a>
    <button *ngIf="!createTransactionFormVisible" (click)="createTransactionFormVisible = true">Create new transaction</button>
    <app-create-transaction *ngIf="createTransactionFormVisible"
                            [accountingPeriodLength]="accountingPeriod.length"
                            (transactionCreated)="createTransaction($event)"
                            (cancelled)="createTransactionFormVisible = false">
    </app-create-transaction>
    <table>
        <thead>
            <tr>
                <th>Day</th>
                <th>Category</th>
                <th>Description</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of accountingPeriod.transactions">
                <td>{{transaction.day | number: '2.0-0'}}</td>
                <td>{{transaction.category.name}}</td>
                <td>{{transaction.description}}</td>
                <td>{{transaction.value}}</td>
            </tr>
        </tbody>
    </table>
</div>