<div>
    <button *ngIf="!apForm" (click)="showForm()">Add accounting period</button>
    <form *ngIf="apForm" [formGroup]="apForm" (ngSubmit)="submit()">
        <div>
            <label for="month-input">Month</label>
            <input id="month-input" type="number" formControlName="month">
            <p *ngIf="month.errors?.invalidMonth">Invalid month.</p>
        </div>
        <div>
            <label for="year-input">Year</label>
            <input id="year-input" type="number" formControlName="year">
            <p *ngIf="year.errors?.invalidYear">Invalid year.</p>
        </div>
        <p *ngIf="apForm.errors?.alreadyExists">Accounting period already exists.</p>
        <div>
            <button type="button" (click)="hideForm()">Cancel</button>
            <button [disabled]="!apForm.valid">Create</button>
        </div>
    </form>
</div>