<table>
    <thead>
        <tr>
            <th>Month</th>
            <th>Income</th>
            <th>Outcome</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let month of months$ | async">
            <td>
                <a [routerLink]="['year', month.yearMonth.getFullYear(), 'month', month.yearMonth.getMonth()]">
                    {{month.yearMonth | date: 'MM.yyyy'}}
                </a>
            </td>
            <td>{{month.income}}</td>
            <td>{{month.outcome}}</td>
            <td>{{month.income + month.outcome}}</td>
        </tr>
    </tbody>
</table>