<div>
    <app-create-accounting-period [otherAccountingPeriodYearMonths]="accountingPeriodYearMonths"
                                  (createAccountingPeriod)="createAccountingPeriod($event)"></app-create-accounting-period>
    <table *ngIf="accountingPeriodOverviews">
        <thead>
            <tr>
                <th>Day</th>
                <th>Income</th>
                <th>Outcome</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let overview of accountingPeriodOverviews">
                <td>
                    <a [routerLink]="['accounting-period', overview.id]">
                        {{overview.yearMonth | date: 'MM.yyyy'}}
                    </a>
                </td>
                <td>{{overview.income}}</td>
                <td>{{overview.outcome}}</td>
                <td>{{overview.income + overview.outcome}}</td>
            </tr>
        </tbody>
    </table>
</div>
