<table *ngIf="accountingPeriodOverviews">
    <thead>
        <tr>
            <th>Date</th>
            <th>Income</th>
            <th>Outcome</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let overview of accountingPeriodOverviews">
            <td>
                <a [routerLink]="['accounting-period', overview.id]">
                    {{overview.startDate | date: 'dd.MM.yyyy'}} - {{overview.endDate | date: 'dd.MM.yyyy'}}
                </a>
            </td>
            <td>{{overview.income}}</td>
            <td>{{overview.outcome}}</td>
            <td>{{overview.income + overview.outcome}}</td>
        </tr>
    </tbody>
</table>